.sliderItems{
    overflow: hidden;
    width: 837px;
    height: 100%;
}

.sliderImg{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

@media(max-width: 1500px){
    .sliderItems{
        width: 50vw;
    }
}

@media(max-width: 1000px){
    .sliderItems{
        width: 96vw;
        height: 45vh;
    }
    .sliderImg{
        object-position: bottom;
    }
}

@media(max-width: 500px){
    .sliderItems{
        display: none;
    }
}